.exit-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    transform: translateX(100vw);
    opacity: 0;
}

.return-btn, .exit-btn{
    text-decoration: none;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.exit-icons{
    font-size: 2.5rem;
}